.good {
  color: #4ba83b;
}
.fail {
  color: #cc0000;
}

.pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

footer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 26px;
  left: 0;
}

.image {
  width: 100px;
  height: 100px;

}